<div class="contact">
  <h1>Contact me</h1>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Location</h3>

      <p>Salt Lake City Utah</p>

      <h3>Phone</h3>

      <p><%= number_to_phone "4352305837" %></p>

      <h3>Email</h3>

      <p><a href="mailto:bekachambers@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
    </div>

    <div class="col-md-6 font-awesome">
      <a href="https://github.com/bekacham" target="_blank">
        <i class="fa fa-github fa-5x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/rebekah-chambers-87865b139/" target="_blank">
        <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
      <a href="https://instagram.com/bekacham/?hl=en" target="_blank">
        <i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
      <!-- <a href="https://facebook.com/rebekah.chambers.54" target="_blank">
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i></a> -->
    </div>
  </div>
</div>